<!--播放器-->
<audio id="audio" autoplay></audio>
<!--音乐播放器-->
<div class="controller">
    <!--播放器左边-->
    <div class="controllerLeft">
        <!--歌曲封面-->
        <div class="containerAvatar"><img src="images/player-bar.png"></div>
        <!--歌曲信息-->
        <div class="containeral">
            <div class="music_name">加载中...</div>
            <div class="music_al">加载中...</div>
        </div>
    </div>
    <!--控制台-->
    <div class="controllerRight">
        <!--播放列表-->
        <div class="playlist"><img src="images/playbar_btn_playlist.png"></div>
        <!--播放暂停-->
        <div class="music_btn pause"></div>
        <!--下一首-->
        <div class="next"><img src="images/playbar_btn_next.png"></div>
    </div>
    <!--进度条-->
    <div class="pmgressbar"></div>
</div>