<div class="songsListWrap">
    <div class="blbg center"></div>
    <div class="lay center"></div>
    <div class="songs_top"><img src="images/left-arrow.png"><span>歌单</span></div>
    <div class="songs_bottom">
        <div class="songB_left">
            <div class="people"><span>加载中</span></div>
            <div class="itemPic"><img src="images/player-bar.png"></div>
        </div>
        <div class="songB_right">
            <p class="song_des">加载中...</p>
            <p class="song_artist">
                <span class="artist_pic"><img src="images/player-bar.png"></span>
                <span class="artist_name">加载中...</span>
            </p>
        </div>
    </div>
</div>
<div class="playAll"><img src="images/playAll_03.jpg">播放全部</div>
<ol id="musicList"></ol>
<div id="musicIten" style="display: none">
    <li>
        <p class="music_num">加载中...</p>
        <div class="music_right">
            <div class="music_avatar"><img src="images/player-bar.png"></div>
            <div class="music_Name">加载中...</div>
        </div>
        <!--<span></span>-->
    </li>
</div>