<div class="home">
    <!--轮播图-->
    <!--<div class="banner">-->
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/banner1.jpg"></div>
            <div class="swiper-slide"><img src="images/banner2.jpg"></div>
            <div class="swiper-slide"><img src="images/banner3.jpg"></div>
            <div class="swiper-slide"><img src="images/banner4.jpg"></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!--</div>-->
    <!--推荐歌单-->
    <div class="recommendSongs">
        <div class="recommend"><img src="images/aei.png">推荐歌单</div>
        <div class="more">更多></div>
    </div>
    <!--推荐歌单列表-->
    <div class="songsList">

    </div>
    <!--歌单模块-->
    <div id="template" style="display: none">
        <div class="songItem">
            <a href="#" onclick="router('detail')">
                <div class="people"><span>加载中...</span></div>
                <div class="itemPic"><img src="images/player-bar.png"></div>
                <p class="songDes">加载中...</p>
            </a>
        </div>
    </div>

</div>