<div class="title">
    <div class="titleName">云音乐官方榜</div>
</div>
<!--榜单-->
<div class="announcementWrap">
    <div class="announcement">
        <div class="announcementPic"><img src="images/announcementPic_02.jpg"></div>
        <ul class="announcementSongName">
            <li>1.识时务者为俊杰 - 冯提莫</li>
            <li>2.就这样 - 李荣浩</li>
            <li>3.Malibu(Alan Walker Remix) - Miley...</li>
        </ul>
    </div>
    <div class="announcement">
        <div class="announcementPic"><img src="images/announcementPic_03.jpg"></div>
        <ul class="announcementSongName">
            <li>1.追光者 - 芩宁儿</li>
            <li>2.识时务者为俊杰 - 冯提莫</li>
            <li>3.下一站茶山刘 - 房东的猫</li>
        </ul>
    </div>
    <div class="announcement">
        <div class="announcementPic"><img src="images/announcementPic_04.jpg"></div>
        <ul class="announcementSongName">
            <li>1.下一站茶山刘 - 房东的猫</li>
            <li>2.Mr.Wonderful - Vinida(万妮达)</li>
            <li>3.闪光的回忆 - 逃跑计划</li>
        </ul>
    </div>
    <div class="announcement">
        <div class="announcementPic"><img src="images/announcementPic_05.jpg"></div>
        <ul class="announcementSongName">
            <li>1.追光者 - 芩宁儿</li>
            <li>2.童话镇 - 陈一发儿</li>
            <li>3.成都 - 赵雷</li>
        </ul>
    </div>
</div>

