<div class="songlist">
    <!--精品歌单-->
    <div class="BoutiquePlaylist">
        <div class="blbg center"></div>
        <div class="lay center"></div>
        <div class="songs_bottom">
            <div class="songB_left">
                <div class="itemPic"><img src="images/songlist_03.jpg"></div>
            </div>
            <div class="songB_right">
                <p class="song_des">
                    <img class="crown magT_1" src="images/huanguan.png">
                    <span>精品歌单</span>
                    <img class="Rarrow magT_1" src="images/rightArrow.png">
                </p>
                <p class="song_artist">
                    <span>不得了！ 这些英文歌的热评信息量...</span>
                    <span>欢迎各位光临云村故事会~</span>
                </p>
            </div>
        </div>
    </div>
    <!--全部歌单-->
    <div class="AllPlaylists">
        <div class="All">全部歌单<img src="images/rightArrow2_03.jpg"></div>
        <div class="songsType">
            <span>欧美</span>
            <span class="songline">丨</span>
            <span>民谣</span>
            <span class="songline">丨</span>
            <span>电子</span>
        </div>
    </div>
    <!--歌单-->
    <div class="songsList">

    </div>
    <!--歌单模块-->
    <div id="template" style="display: none">
        <div class="songItem">
            <a href="#" onclick="router('detail')">
                <div class="people"><span>加载中...</span></div>
                <div class="itemPic"><img src="images/player-bar.png"></div>
                <p class="songDes">加载中...</p>
            </a>
        </div>
    </div>


</div>